



BODY {
    font-family: 'Open Sans' , arial, sans-serif;

}
 /*Name */
 h1 {
    font-size: :3em;
    text-transform: uppercase;
    text-align:center;
 }

  /* Section titles */
  h2 {
    font-size: :1.5em;
    Background:#33485e;
    color: #fff;
    text-transform: uppercase;
    font-weight :400;
  }

   /* My Title */
   strong {



    
   }