.story-image {
  width: 1000px;        
  height: 700;        
  display: block;     
  margin: 1rem auto;   
  border-radius: 5px;  
}
.story-image {
  width: auto;         
  max-width: 1000px;     
  height: 300px;         
  display: block;
  margin: 1rem auto;    
  border-radius: 5px;   
  object-fit: cover;    
}
.story column {
  font-family: sans-serif;   
  font-size: 12px;                  
  line-height: 1.5;                
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
}